.app-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 5px;
    font-family: cursive;
}

.desktop-message {
    display: block;
    margin-top: 49vh;
    text-align: center;
    font-size: x-large;
    color: red;
}
